.output
*.s
*.dump
*.o
Debug
_temp_by_dltool
*~
/bin/at
/app/*.pyc
/bin/_temp_by_dltool
/.kdev4/*.kdev4
/app/user/arch/esp8266/driver/*.kdev_include_paths
/app/user/arch/esp8266/driver/*.kate-swp
/*.kdev4
/bin/eagle.irom0text.bin
/bin/eagle.S
/bin/eagle.dump
/bin/eagle.flash.bin
/examples
*.opendb
*.bak
/vs_solution/*.sdf
/vs_solution/.vs
/vs_solution/.vs/ra_esp8266/v14/*.suo
/app/serial_rt.py
/app/debug.py
/app/esp_clean.sh
/app/flashtool.py
/app/serial_debug.py
